html, body {
    background-color: #eae7e0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }

  @viewport {
    width: device-width ;
  }

  /* NAVBAR STARTS */
.container {
    display: table;
    width: 100%;
    position: fixed;
    text-transform: uppercase;
  }
  .name {
    font-size: 1rem;
    letter-spacing: 5px;
    font-weight: 100;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    margin-top: 2rem;
    float: left;
  }
  .name a {
    margin-left: 3rem;
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  .navbar {
    float: right;
    margin-right: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: block !important;
  }
  .navbar a{
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  .navbar li{
    list-style-type: none;
    display: inline-block;
    margin-left: 2rem;
    letter-spacing: 5px;
    margin-right: 2rem;
  }
  .navbar a:hover {
    color: rgb(0, 0, 0) !important;
    font-weight: bold;
  }

  /* HAMBURGER ICON */
  .navbar-btn{
    padding-inline-start: 1px !important;
    float: right;
    display: none;
  }
  .ham_menu {
    width: 35px;
    height: 3px;
    background-color: rgb(0, 0, 0);
    margin: 0.5rem 0;
    border-radius: 1px;
    display: none;
  }

  .hidehamburger{
    visibility: hidden;
  }

  .exit-img{
    background-image: url(/assets/images/exit.png);
    background-size: cover;
  }

  /* RESPONSIVE LAYER */
  @media screen and (max-width:840px) {
    .full-navbar{
        display: none;
    }
    .navbar li{
        margin-top: 5rem;
        margin-bottom: 5rem;
        display: block;
    }
    .ham_menu{
        display: block !important;
    }
    .navbar-btn{
        display: block;
        margin-top: -2rem;
    }
    .navbar{
        width: 100%;
    }
  }

  @media screen and (min-width:840px) {
    .full-navbar{
        display: block !important;
    }
  }
